@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <button class="btn btn-success" data-toggle="modal" data-target="#modalCadastro">Adicionar</button>
        <p>
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Sobrenome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">Lucas</td>
                        <td scope="col">Lopes Moreno</td>
                        <td scope="col">410.402.458-97</td>
                        <td scope="col">11 4576 3826</td>
                        <td scope="col">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAtualizacao">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger" aria-label="Left Align">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
</div>


<div class="modal fade" id="modalCadastro" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cadastrar</h4>
            </div>
            <div class="modal-body">
                <form id="FormCadastro">
                    <div class="form-group">
                        <input type="text" class="form-control" name="id" placeholder="id" readonly>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" class="form-control" name="nome" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="sobrenome" placeholder="SobreNome">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="cpf" placeholder="CPF">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="telefone" placeholder="Telefone">
                    </div>
                    <button type="submit" class="btn btn-primary">Gravar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAtualizacao" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Atualizar</h4>
            </div>
            <div class="modal-body">
                <form id="FormAtualizar">
                    <div class="form-group">
                        <input type="text" class="form-control" name="id" placeholder="Nome" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="nome" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="sobrenome" placeholder="SobreNome">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="cpf" placeholder="CPF">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="telefone" placeholder="Telefone">
                    </div>
                    <button type="submit" class="btn btn-primary">Gravar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#FormCadastro").submit(function (e) {
            debugger;
            var url = "@Url.Content("~/Home/Cadastrar")";
            var dados = $("#FormCadastro").serialize();
            $.ajax({
                type: "POST",
                url: url,
                data: dados,
                success: function (data) {
                    if (data.success) {
                        alert.text(data.message);
                    } else {
                        if (data.errors.length > 0) {

                            var errorsList = '<div class="errors-messages">\
                                              <p>Corrija os erros abaixo:</p>\
                                                <ul>';
                            for (var i in data.errors) {
                                errorsList += "<li>- " + data.errors[i] + "</li>\n";
                            }
                            errorsList += '</ul>\
                                       </div>';
                            $('.errors').html(errorsList);
                        }
                    }
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });
    });
</script>