@model GestaoDeUsuarios.Site.Models.Home
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <button class="btn btn-success" data-toggle="modal" data-target="#modalCadastro">Adicionar</button>
        <p>
            @Html.Partial("_TableUsers", Model)
        </p>
    </div>
</div>

<div class="modal fade" id="modalCadastro" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cadastrar</h4>
            </div>
            <div class="modal-body">
                <form id="FormCadastro">
                    <div class="form-group">
                        <input type="text" class="form-control" name="id" placeholder="id" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="nome" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="sobrenome" placeholder="SobreNome">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="cpf" placeholder="CPF">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="telefone" placeholder="Telefone">
                    </div>
                    <button id="BotaoCadastrar" type="button" class="btn btn-primary">Gravar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAtualizacao" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Atualizar</h4>
            </div>
            <div class="modal-body">
                <form id="FormAtualizar">
                    <div class="form-group">
                        <input type="text" class="form-control" name="id" placeholder="Nome" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="nome" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="sobrenome" placeholder="SobreNome">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="cpf" placeholder="CPF">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="telefone" placeholder="Telefone">
                    </div>
                    <button type="submit" class="btn btn-primary">Gravar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#BotaoCadastrar").on("click", function (e) {
            var url = "@Url.Content("~/Home/Cadastrar")";
            var dados = $("#FormCadastro").serialize();
            $.ajax({
                type: "POST",
                url: url,
                data: dados
            }).done(function (data) {
                    tratarResultado(data);                
            }).fail(function (data) {
                alert("Falha na conexao com o servidor");
            });
            e.preventDefault();            
        });
    });

    function tratarResultado(data) {           
        $("#modalCadastro").modal("hide");

        if (data.Success) {
            $('#tableUsers').load('@Url.Action("Index","Home")');
            mostrarMensagem(data.message);
        }
        else {
            var mensagem = "";
            for (var i = 0; i < data.Errors.length; i++) {
                var mensagem = mensagem + " " + data.Errors[i].value + ";";
            }
            mostrarMensagem(mensagem);
        }
    }
</script>